@font-face {
  font-family: "Alibaba PuHuiTi";
  src: url("/fonts/AlibabaPuHuiTi-3-55-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alibaba PuHuiTi";
  src: url("/fonts/AlibabaPuHuiTi-3-85-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MiSans";
  src: url("/fonts/MiSans-VF.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Microsoft YaHei Local";
  src: url("/fonts/%E5%BE%AE%E8%BD%AF%E9%9B%85%E9%BB%91.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url("/fonts/NotoSansSC.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Han Serif SC";
  src: url("/fonts/Source_Han_Serif_SC_Light_Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
